version: "3.9"

services:
  supervins:
    image: drjackbright/ros-noetic-supervins
    build:
      context: .
      dockerfile: Dockerfile
    entrypoint: "bash"
    command: ""
    tty: true
    volumes:
      - ./:/root/catkin_ws/src/supervins:rw
      - ../../src:/root/python_modules:rw
      # Persist build artifacts
      # - /tmp/SuperVINS-build:/root/catkin_ws/build:rw
      # - /tmp/SuperVINS-devel:/root/catkin_ws/devel:rw
      # Dataset
      - F:/vins_data:/data:rw
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
